<br>
<mat-card-title>User Reservation Data</mat-card-title>
<br>

<!--Kilder: https://material.angular.io/components/table/examples
Inspiration til at lave en mat-table kommer fra dette link.-->
<div class="example-container mat-elevation-z8">

  <table mat-table [dataSource]="reservations" class="mat-elevation-z8">

    <ng-container matColumnDef="componentName">
      <th mat-header-cell *matHeaderCellDef> Component Name </th>
      <td mat-cell *matCellDef="let element"> {{element.componentName}} </td>
    </ng-container>


    <ng-container matColumnDef="componentNo">
      <th mat-header-cell *matHeaderCellDef> Component No. </th>
      <td mat-cell *matCellDef="let element"> {{element.componentNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="adminComment">
      <th mat-header-cell *matHeaderCellDef> Admin comment </th>
      <td mat-cell *matCellDef="let element">{{element.adminComment}} </td>
    </ng-container>

    <ng-container matColumnDef="reservedDate">
      <th mat-header-cell *matHeaderCellDef> Reserved date </th>
      <td mat-cell *matCellDef="let element"> {{element.reservationDate}}
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete / Loan </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button class="button-space" (click)="deleteReservationData(element.reservationId)" color="warn">Delete</button>
        <button mat-raised-button class="btnReserve" (click)="reservationTableloanComponent(element.componentId,element.reservationId)">Loan</button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="reservationDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: reservationDisplayedColumns;"></tr>

  </table>


</div>
<br>
<br>
<mat-card-title>Edit User Loans</mat-card-title>
<br>

<div class="example-container mat-elevation-z8">

  <table mat-table [dataSource]="editUserLoans" class="mat-elevation-z8">
    <ng-container matColumnDef="componentName">
      <th mat-header-cell *matHeaderCellDef> Component Name </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="clerkPermission">
          <input type="text" name="componentName" [(ngModel)]="element.componentName" ngModel />
        </div>
        <div *ngIf="!clerkPermission">
          {{element.componentName}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="componentNo">
      <th mat-header-cell *matHeaderCellDef> Component No. </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="clerkPermission">
          <input type="number" name="componentNumber" [(ngModel)]="element.componentNumber" ngModel />
        </div>
        <div *ngIf="!clerkPermission">
          {{element.componentNumber}}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="adminComment">
      <th mat-header-cell *matHeaderCellDef> Admin Comment </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="clerkPermission">
          <input type="text" name="adminComment" [(ngModel)]="element.adminComment" ngModel />
        </div>
        <div *ngIf="!clerkPermission">
          {{element.adminComment}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="loanDate">
      <th mat-header-cell *matHeaderCellDef> Loan Date </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="clerkPermission">
          <input type="text" name="loanDate" [(ngModel)]="element.loanDate" ngModel />
        </div>
        <div *ngIf="!clerkPermission">
          {{element.loanDate}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="returnDate">
      <th mat-header-cell *matHeaderCellDef> Return date </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="clerkPermission">
          <input type="text" name="returnData" [(ngModel)]="element.returnDate" ngModel />
        
        </div>
        <div *ngIf="!clerkPermission">
          {{element.returnDate}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete / Save </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button class="button-space" (click)="deleteLoan(element.loanId)" color="warn">Delete</button>
        <button mat-raised-button *ngIf="clerkPermission" class="button-space" (click)="saveLoanData(element)" color="primary">Save</button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="loanDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: loanDisplayedColumns;"></tr>

  </table>


</div>
<br>

<mat-card-title class="title-position">Search for components</mat-card-title>

<form class="search-input-position">

  <mat-form-field class="search-position">
    <mat-label>Search a component</mat-label>
    <!-- Kilder: https://www.youtube.com/watch?v=ZhcYPXLGr_E 
    Inspritation til at filtre søgefeltet, kommer fra dette link.
    Når man indtaster en værdi i søgefeltet, så sker der en event, da den kan reducere søgefeltet.-->
    <input matInput (keyup)="componentFilter($event.target.value)" placeholder="Type a component" hint="Search">
  </mat-form-field>


</form>
<!--Kilder: https://material.angular.io/components/table/examples
Inspiration til at lave en mat-table kommer fra dette link.-->
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataComponents" class="mat-elevation-z8">

    <ng-container matColumnDef="componentImage">
      <th mat-header-cell *matHeaderCellDef> Component Image </th>
      <td mat-cell *matCellDef="let element">

        <img class="image-view" [src]="element.imageUrl" alt="Place image title">

      </td>
    </ng-container>

    <ng-container matColumnDef="componentName">
      <th mat-header-cell *matHeaderCellDef> Component Name </th>
      <td mat-cell *matCellDef="let element"> {{element.componentName}} </td>
    </ng-container>

    <ng-container matColumnDef="componentInfo">
      <th mat-header-cell *matHeaderCellDef> Component Info </th>
      <td mat-cell *matCellDef="let element"> {{element.componentInfo}} </td>
    </ng-container>

    <ng-container matColumnDef="componentStatus">
      <th mat-header-cell *matHeaderCellDef> Component Status </th>
      <td mat-cell *matCellDef="let element"> {{element.componentStatus}} </td>
    </ng-container>


    <ng-container matColumnDef="D/L">
      <th mat-header-cell *matHeaderCellDef> Detail / Loan </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button class="btn button-space" color="primary"
          (click)="goToDetailComponent(element.componentId)">Details</button>
        <button mat-raised-button *ngIf="(element.count > 0);else false" class="btnReserve"
          (click)="loanComponent(element)">Loan</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
