<mat-card-title class="title-position">Do you want to delete this reservation?</mat-card-title>
<br>
<br>
<b>Component name: </b> {{reservationToBeDeletedData.componentName}} <br>
<b>Component Number: </b> {{reservationToBeDeletedData.componentNumber}}<br>
<b>Reserved for: </b> {{reservationToBeDeletedData.reservedTo}}<br>
<br>
<button mat-raised-button class="button-space" (click) ="backToPreviousPage()" color="primary" >Cancel</button>  
<button mat-raised-button class="button-space" (click) ="deleteReservation(reservationToBeDeletedData.reservationId)" color="warn" >Delete</button>  

