/*kilder https://www.techiediaries.com/css-centering/ */
.center {
    margin: auto;
    width: 25%;
    border: 0px solid rgb(75, 126, 236);
    padding: 70px;
    height: 600px;

  }
  /*kilder https://material.angular.io/components/input/overview*/
  .input-width {
    width: 80%;
  }
  
  .btnSave{
    margin-right: 10px;
    background-color: rgb(16, 187, 16);
    color: #fff;
  
  }
  .cancelButton{
    margin-right: 10px;;
  }
  .delete-button-position{
    margin-right: 50px;

  }
  .serverError-position{
    margin-left: 700px;
    font-size: 150%;
    color: rgb(255, 0, 0);
    transition-duration: 5s;
    transition-delay: 2s;
  }