<!-- 
    Her under er der gjort brug af library material design.
    Til at får bedre design på hjemmesiden.
    
    På den link, som ses under her, er der taget inspiration til at gør brug af de forskellige komponenter.
    Kilder: https://material.angular.io/components/categories
 -->
<div class="center">
  <form (ngSubmit)="saveUser(Form)" #Form="ngForm">
    <div>
      <mat-card-title>Edit your profile</mat-card-title>
      <br />
      <br />
      <mat-form-field class="input-width">
        <input name="auId" #auid="ngModel" type="text" placeholder="AuId (Cannot be edited)" matInput ngModel
          [(ngModel)]="userData.auId" readonly />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="input-width">
        <input matInput type="number" name="studentNumber" required value=" " #student_number="ngModel"
          placeholder="Student number" ngModel [(ngModel)]="userData.studentNumber" />
        <mat-hint>Type a unique Student number</mat-hint>

      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-width">
        <input matInput type="email" name="email" required value=" " #email="ngModel" placeholder="email@example.com"
          ngModel [(ngModel)]="userData.email" />
        <mat-hint>Type a unique Email</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-width">
        <input matInput type="number" name="phoneNumber" required value=" " #phone="ngModel" placeholder="Phone" ngModel
          [(ngModel)]="userData.phoneNumber" />
        <mat-hint>Type a unique Phone Number</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-width">
        <input matInput type="text" name="firstName" required value=" " #first_name="ngModel" placeholder="First Name"
          ngModel [(ngModel)]="userData.firstName" />
        <mat-hint>Type a unique First Name</mat-hint>

      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-width">
        <input matInput type="text" name="lastName" required value=" " #last_name="ngModel" placeholder="Last Name"
          ngModel [(ngModel)]="userData.lastName" />
        <mat-hint>Type a unique Last Name</mat-hint>
      </mat-form-field>
    </div>
    <br />
    <button mat-raised-button class="cancelButton" color="primary" (click)="cancelButton()">Cancel</button>
    <button mat-raised-button class="btnSave" type="ngSubmit">Save</button>

    <br />
    <br />

  </form>
  <button mat-raised-button class="delete-button-position" color="warn" (click)="deleteProfil()">Delete</button>

</div>
<div class="serverError-position" *ngIf="serverError">
  <mat-error>
    {{serverError}}
  </mat-error>
</div>