/* Kilder: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_example_website */

* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Column container, alså deler siden i to del */
  .row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }
  
  /* Venstre side column */
  .leftcolumn {
    -ms-flex: 30%; 
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Højre side columen */
  .rightcolumn {   
    -ms-flex: 70%; 
    flex: 70%;
    background-color: white;
    padding: 20px;
  }

  /* Ændre farven på titlen og headeren */
  .header {
    padding: 80px;
    text-align: center;
    background: #25a8c9;
    color: white;
  }
  
  /* Forstørre headerens --> title */
  .header h1 {
    font-size: 40px;
  }
  

  


  